:root {
  --dark-body: #4d4c5a;
  --dark-main: #141529;
  --dark-second: #79788c;
  --dark-hover: #323048;
  --dark-text: #f8fbff;

  --light-body: #e8f1f9;
  --light-main: #fdfdfd;
  --light-second: #c3c2c8;
  --light-hover: #e8f1f9;
  --light-text: #020b13;

  --blue: #1971c2;
  --white: #fff;

  --shadow: rgba(0, 0, 0, 0.2) 0px 0px 25px 0px;

  --font-family: Roboto;
}
.popup {
  position: fixed;
  height: 40rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border: 2px solid black;
  border-radius: 10px;
  z-index: 10;
  background-color: white;
  width: 40rem;
  max-width: 100%;
}


.popup .popup-date {
  border-radius: 2rem;
  height: auto;  /* Change height to auto to allow for dynamic height based on content */
  width: 30rem;
  margin-right: 6rem;
  margin-left: 5rem;
  background: #99effa;
  padding: 1rem; /* Add padding to create space for the textarea */
  position: relative; /* Ensure proper positioning of the textarea */
  overflow: hidden;
  resize: none; /* Prevent resizing */
}

.popup .popup-date textarea {
  width: inherit; /* Use calc to subtract padding from the width */
  height: inherit; /* Use calc to subtract padding from the height */
  box-sizing: border-box; /* Ensure that padding is included in the width and height */
  border: none; /* Remove border to match the popup-date styling */
  background: transparent; /* Set background to transparent to match the popup-date styling */
  margin-right: 15rem;
  top: 1rem; /* Adjust top and left to position textarea within the popup-date field */
  left: 1rem;
  overflow: auto;

}


.popup-content .submit-btn{
  border-radius: 2rem;
  height: 5rem;
  width: 10rem;
  background-color: #49b2ec;
  margin-left: 14rem;
  margin-right: 10rem;

}

.popup-content .popup-date::placeholder {
  color: #000000;
}

.popup-content .popup-info{
  margin-bottom: 2rem;
  letter-spacing: 1rem;
  margin-left: 10rem;
}

.popup .popup-content .close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 3rem;
  font-weight: bold;
  margin-left: 1rem;
}
.inner-container {
  max-width: 130rem;
  margin: 9.6rem 0;
  padding: 4.8rem 2.4rem;

  border-radius: 30px;
  background-color: #fff;
  box-shadow: 0px 10px 10px 5px rgba(0, 0, 0, 0.2);

  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  gap: 10.2rem;
}

.popup.active {
  transform: translate(-50%, -50%) scale(1);
}


#overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
  pointer-events: none;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}



.dark {
  --bg-body: var(--dark-body);
  --bg-main: var(--dark-main);
  --bg-second: var(--dark-second);
  --color-hover: var(--dark-hover);
  --color-txt: var(--dark-text);
}

.light {
  --bg-body: var(--light-body);
  --bg-main: var(--light-main);
  --bg-second: var(--light-second);
  --color-hover: var(--light-hover);
  --color-txt: var(--light-text);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

html,
body {
  height: 100vh;
  overflow-x: hidden;
  font-family: var(--font-family);
  background: linear-gradient(
    to right bottom,
    rgba(94, 157, 212, 0.65),
    rgb(163, 198, 231, 0.65)
  );
}

body {
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: grid;
  grid-template-columns: 15fr 85fr;
  gap: 4.8rem;
  align-items: center;
  margin-left: 2rem;
  margin-right: 2rem;
}
.side-bar {
  width: 100%;
  height: 76%;
  padding: 2.4rem;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0px 10px 10px 5px rgba(0, 0, 0, 0.2);
}

.side-bar-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style: none;

  gap: 2.4rem;
  height: 100%;
}

.list-elt {
  margin-bottom: 0.8rem;
}

.list-elt a:link,
.list-elt a:visited {
  display: inline;
  font-size: 2rem;
  border-radius: 8px;
  text-decoration: none;
  color: #555;
  font-weight: 500;
  padding: 1rem 2rem;

  display: flex;
  align-items: center;
  gap: 1.2rem;

  transition: background-color 0.3s ease;
}

.list-elt a:hover,
.list-elt a:active {
  background-color: #e8f1f9;
  outline: 1px solid #d1e3f3;
}

.push {
  margin-top: auto;
  align-self: center;
}

.push a:link,
.push a:visited {
  color: #fff;
  background-color: #307fc8;
}

.push a:hover,
.push a:active {
  color: #fff;
  background-color: #1971c2;
}

.icon-container {
  display: flex;
  place-content: center;
}

.icon {
  width: 2rem;
  height: 2rem;
  color: #1971c2;
}

.inner-container {
  max-width: 130rem;
  margin: 9.6rem 0;
  padding: 4.8rem 2.4rem;

  border-radius: 30px;
  background-color: #fff;
  box-shadow: 0px 10px 10px 5px rgba(0, 0, 0, 0.2);

  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  gap: 10.2rem;
}

.calendar-day-hover {
  font-size: 1.6rem;
  font-weight: 400;
}

.img-box {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.img {
  width: 90%;
  justify-self: start;
}

.calendar {
  width: 85%;
  height: 49rem;
  background-color: var(--bg-main);

  border-radius: 30px;
  padding: 2rem;
  position: relative;
  overflow: hidden;
  outline: 2px solid #e8f1f9;
  /*   box-shadow: var(--shadow);
 */
  /* transform: scale(1.25); */
}

.empty-day:hover {
  background-color: transparent !important;
  cursor: default;
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2.6rem;
  font-weight: 500;
  color: var(--color-txt);
  padding: 1rem;
}

.calendar-body {
  padding: 1rem;
}

.calendar-week-day {
  height: 5rem;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  font-weight: 600;
}

.calendar-week-day div {
  display: grid;
  place-items: center;
  color: var(--bg-second);
  font-size: 1.2rem;
}

.calendar-days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 2px;
  color: var(--color-txt);
}

.calendar-days div {
  width: 5.2rem;
  height: 5.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  position: relative;
  cursor: pointer;
  animation: to-top 1s forwards;
  /* border-radius: 50%; */
}

.calendar-days div:hover {
  background-color: rgba(25, 112, 194, 0.1);
  border-radius: 50%;
}

.calendar-days div.curr-date,
.calendar-days div.curr-date:hover {
  background-color: var(--blue);
  color: var(--white);
  border-radius: 50%;
}

.calendar-days div.curr-date span {
  display: none;
}

.month-picker {
  padding: 1.2rem 2.2rem;
  border-radius: 8px;
  cursor: pointer;
}

.month-picker:hover {
  background-color: var(--color-hover);
}

.year-picker {
  display: flex;
  align-items: center;
}

.year-change {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  display: grid;
  place-items: center;
  margin: 0 1rem;
  cursor: pointer;
}

.year-change:hover {
  background-color: var(--color-hover);
}

.calendar-footer {
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.month-list {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--bg-main);
  padding: 2rem;
  grid-template-columns: repeat(3, auto);
  gap: 5px;
  display: grid;
  transform: scale(1.5);
  visibility: hidden;
  pointer-events: none;
}

.month-list.show {
  transform: scale(1);
  visibility: visible;
  pointer-events: visible;
  transition: all 0.2s ease-in-out;
}

.month-list > div {
  display: grid;
  place-items: center;
}

.month-list > div > div {
  width: 100%;
  padding: 0.5rem 2rem;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  color: var(--color-txt);
}

.month-list > div > div:hover {
  background-color: var(--color-hover);
}

@keyframes to-top {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/*  */

/*  */
