:root {
  --dark-body: #4d4c5a;
  --dark-main: #141529;
  --dark-second: #79788c;
  --dark-hover: #323048;
  --dark-text: #f8fbff;

  --light-body: #e8f1f9;
  --light-main: #fdfdfd;
  --light-second: #c3c2c8;
  --light-hover: #e8f1f9;
  --light-text: #020b13;

  --blue: #1971c2;
  --white: #fff;

  --shadow: rgba(0, 0, 0, 0.2) 0px 0px 25px 0px;

  --font-family: Roboto;
}
.fields2 {
  display: block;
  flex-wrap: wrap;
  gap: 10px;
}

@keyframes fadein {from {opacity: 0;} to {opacity: 1;}}
.messages {
  position: fixed;
  top: 20px; /* Adjust the top position as needed */
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  border-radius: 2rem;
  max-width: 500px;
  animation: fadein 2s;
  z-index: 1000;
  padding: 10px;
  list-style-type: none;
  margin-bottom: 3rem;
}

.message {
  padding: 10px;
  border-radius: 2rem;
  margin-bottom: 3rem;
}

.message.success {
  background-color: #4caf50;
  color: #fff;
  border-radius: 1rem;
  width: 80%;
}


.message.error {
    background-color: #f2dede; /* Red background color for error messages */
    border-color: #ebccd1; /* Red border color for error messages */
    border-radius: 1rem;
    width: 80%;
}




.inner-container {
  max-width: 120rem;
  max-height: 80rem;
  padding: 2rem 5rem;
  border-radius: 3rem;
  margin-left: 2rem;
  background-color: white;
  box-shadow: 0px 10px 10px 5px rgba(0, 0, 0, 0.2);
  grid-template-columns: 1fr 1fr;
  overflow: hidden;
  display: grid;
  grid-column: 1fr 1fr;
  justify-content: center;

  column-gap: 9.6rem;
  row-gap: 2.6rem;
}


.fields {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.fields:nth-child(odd) {
  justify-self: end;
}

.inner-container p {
  font-size: 1.8rem;
  font-weight: 500;
  margin: 0 0 1.6rem 0.2rem;
}

.input-field {
  color: #333;
  font-size: 1.4rem;
  width: 40rem;
  height: 4.2rem;

  padding: 1.2rem;
  border: 1px solid #aaa;
  border-radius: 20px;
}

.input-field::placeholder {
  color: #777;
}

.btn-container {
  grid-column: 1/-1;
}

.save-btn {
  font-size: 1.6rem;
  font-weight: 500;
  padding: 1.2rem 2.4rem;
  border-radius: 15px;

  background-color: #1971c2;
  color: white;

  margin-top: 3.6rem;
  border: 0;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.save-btn:hover {
  background-color: #1766af;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*:focus {
  border: none;
}

html {
  font-size: 62.5%;
}

html,
body {
  height: 100vh;
  overflow-x: hidden;
  font-family: var(--font-family);
  background: #efefef;
}

body {
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
/*****************************************************/
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
/*****************************************************/

.heading {
  color: #333;
  font-size: 3.6rem;
  margin-left: 2rem;
  font-weight: 500;
  padding-left: 1.2rem;
  padding-bottom: 1.2rem;
  border-bottom: 3px solid #333;
}

.container {
  justify-content: center;
  display: grid;
  grid-template-columns: 20fr 80fr;
  grid-template-rows: 20fr 80fr;
  align-items: center;
  margin-left: 2rem;
  margin-right: 2rem;
}

aside {
  position: relative;
  grid-column: 1/2;
  grid-row: 1/3;
  width: 80%;
}

aside .logo img {
  width: 18rem;
}


aside .side-bar {
  height: 88vh;
  margin-top: 1rem;
  border-radius: 16px;
  background-color: #fff;
  box-shadow: 0px 10px 10px 5px rgba(0, 0, 0, 0.2);
}

.side-bar a {
  display: flex;
  align-items: center;
}

.side-bar-links:link,
.side-bar-links:visited {
  display: flex;
  align-items: center;
  padding: 1rem 0 1rem 0;
  height: 5.6rem;
  text-decoration: none;
  color: #333;
  gap: 1rem;

  margin-left: 2rem;
  transition: all 0.3s ease-out;
}

.push {
  position: absolute;
  bottom: 2rem;
}

.icon {
  width: 2rem;
  height: 2rem;
  color: #333;

  transition: all 0.3s ease-out;
}

.side-bar-links:hover {
  color: #1971c2;
  margin-left: 2.8rem;
}

.side-bar-links:hover .icon {
  color: #1971c2;
}

.active:link,
.active:visited {
  width: 100%;
  background-color: #efefef;
  color: #1971c2;

  margin: 0;
  overflow: hidden;
}

.active .icon {
  color: #1971c2;
}

.active::before {
  content: "";

  width: 1.3rem;
  height: 3.6rem;
  border-radius: 10rem;
  transform: translate(-50%);
  background-color: #1971c2;
}
